.onepage {
    text-align: center;
    margin-top:50px;
    padding-right: 2%;
    padding-left: 2%;
    font-family: 'Open Sans', sans-serif;
}

.container1 {
    position: relative;
    text-align: center;
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}

